<form [formGroup]="articleForm">
  <div class="sticky-top border-bottom bg-body text-end">
    <div class="row">
      <div class="col">
        <div class="mb-2 mt-2">
          <button class="btn btn-sm btn-link me-1" (click)="cancel()">Cancelar</button>
          <button class="btn btn-sm btn-secondary me-1" (click)="save()" [disabled]="!articleForm.valid">Guardar como
            borrador
          </button>
          <button class="btn btn-sm btn-secondary me-1" (click)="hidden()" [disabled]="!articleForm.valid">Ocultar
          </button>
          <button class="btn btn-sm btn-secondary me-1" (click)="delete()" [disabled]="!articleForm.valid">Eliminar
          </button>
          <button class="btn btn-sm btn-primary" (click)="publish()" [disabled]="!articleForm.valid">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-9">
      <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="url" class="form-control" id="title" name="title" (change)="setPermalink($event)"
               formControlName="title">
        <div class="form-text">URL: {{articleForm.controls['permalink'].value}}</div>
      </div>
      <div class="mb-3">
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="content" [placeholder]="'Escribe algo...'"></ngx-editor>
        </div>
      </div>
      <div class="mb-3">
        <label for="referringSite" class="form-label">Fuente</label>
        <input type="url" class="form-control" id="referringSite" name="referringSite"
               placeholder="Url de donde se obtuvo la noticia."
               formControlName="referringSite">
      </div>
    </div>
    <div class="col-lg-3">

      <div class="mb-3">
        <label for="principalSite" class="form-label">Sitio principal</label>
        <select class="form-select" id="principalSite" #principalSite name="principalSite"
                formControlName="principalSite">
          <option *ngFor="let site of sites">{{site.name}}</option>
        </select>
      </div>
      <div class="input-group mb-3" formGroupName="author">
        <select class="form-control" id="alias" name="alias" formControlName="id">
          <option [value]="author.id" *ngFor="let author of authors">{{author.alias}}</option>
        </select>
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="openAuthorForm()" type="button">+ Autor</button>
      </div>
      </div>
      <div class="mb-3">
        <label for="summary" class="form-label">Extracto</label>
        <textarea type="text" class="form-control" id="summary" name="summary"
                  formControlName="summary"> </textarea>
      </div>
      <div class="mb-3">
        <h5>Imagen destacada</h5>
        <img [src]="articleForm.controls['featureImage'].value" class="img-fluid">
      </div>
    </div>
  </div>

</form>

{{articleForm.value | json}}
