<header>
  <div class="px-3 py-2 box">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a [routerLink]="['/']"
           class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none display-6">
          DIARIO LA VOZ </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a [routerLink]="['/article']" class="nav-link text-white text-center">
              <i class="bi bi-newspaper"></i><br>
              Artículos
            </a>
          </li>
          <li>
            <a [routerLink]="['/authors']" class="nav-link text-white text-center">
              <i class="bi bi-people"></i><br>
              Usuarios
            </a>
          </li>
          <li>
            <a [routerLink]="['/configuration']" class="nav-link text-white text-center">
              <i class="bi bi-gear-wide-connected"></i><br>
              Configuración
            </a>
          </li>
          <li>
            <a (click)="openNotification()" class="nav-link text-white text-center" style="cursor: pointer">
              <i class="bi bi-bell"></i><br>
              Notificaciones
            </a>
          </li>
          <li>
            <a (click)="logOut()" href="" class="nav-link text-white text-center">
              <i class="bi bi-people"></i><br>
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<br>
