<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">
                <button type="button"
                        *ngFor="let domain of domains"
                        class="list-group-item list-group-item-action active"
                        [ngClass]="{'active': domain.key === selectedDomain}"
                        (click)="selectDomain(domain.key)"
                        [attr.aria-current]="domain.key === selectedDomain">
                    {{domain.name}}
                </button>
            </div>
        </div>
        <div class="col-sm-10" *ngIf="site">
            <form [formGroup]="domainForm" (ngSubmit)="save()">
                <div class="mb-3">
                    <label for="siteName" class="form-label">Nombre del sitio</label>
                    <input type="text" class="form-control" id="siteName"
                           formControlName="name"
                           placeholder="La voz de ...">
                </div>
                <div class="mb-3">
                    <label for="siteUrl" class="form-label">Url</label>
                    <input type="url" class="form-control" id="siteUrl"
                           formControlName="url"
                           placeholder="https://misitio.com">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea type="text" class="form-control" id="description"
                              formControlName="description" rows="3"
                              placeholder="El sitio de noticias en español más leído del mundo...">
                    </textarea>
                </div>
                <div formArrayName="socialNetworks" class="mb-3 col-sm-4">
                    <ng-container *ngFor="let socialNetwork of socialNetworks.controls; let index = index">
                        <div [formGroupName]="index">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre de la red social</label>
                                <input type="text" class="form-control" id="name"
                                       formControlName="name"
                                       placeholder="Facebook">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Url</label>
                                <input type="url" class="form-control" id="url"
                                       formControlName="url"
                                       placeholder="https://facebook.com/misitio">
                            </div>
                        </div>
                    </ng-container>
                    <button type="button" (click)="addNewSocialNetwork()" class="btn btn-secondary btn-sm">Agregar red
                        social
                    </button>
                </div>
                <div class="form-group col-sm-4 mb-3">
                    <label for="tag">Palabras clave</label>
                    <input type="text" class="form-control" id="tag" (keydown.enter)="addKeyword($event)">
                    <div class="form-text">Las keywords permiten personalizar el Home.</div>
                    <ng-container *ngFor="let tag of domainForm.controls['keywords'].value; let i=index">
                        &nbsp;<span class="badge rounded-pill bg-dark text-uppercase btn btn-dark"
                                    (click)="removeKeyword(i)">{{tag}}
                        (x)</span>
                    </ng-container>
                </div>
                <div>
                    <button type="submit"
                            [disabled]="!domainForm.valid"
                            class="btn btn-primary">Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
