<footer class="container-fluid p-4 rounded bg-light">
  <div class="d-lg-flex justify-content-between">
    <div>
      <span>LOGO</span>
    </div>
    <div class="copyright">
      <p>developed and maintained by <a href="mailto:omar.fdo.gomez+voces@gmail.com" >Omar Gómez & Blanca Pinot</a></p>
    </div>
    <div>
      <ul class="d-flex gap-3 list-unstyled">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
