<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titulo</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Accion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles">
    <th scope="row">1</th>
    <td>{{article.title}}</td>
    <td>{{article.author ? article.author.alias : ''}}</td>
    <td>{{article.updatedAt | date}}</td>
    <td>
      <button type="button" class="btn btn-link btn-sm" (click)="open(article.id)">
        <i class="bi bi-pencil-square"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
